.page_content {
    max-width: 1100px;

    a {
        text-decoration: revert;
        color: revert;
    }

    figure {
        figcaption {
            margin-top: 10px;
        }

        img {
            width: 100%;
        }
    }
}